# Site settings
title: Gean Ramos # site title
description: >- # site description
  O lugar onde as hist贸rias ganham vida!<br>
  Junte-se a n贸s para romances arrebatadores, reflex玫es profundas e muitos mais. 
lang: pt-BR # default lang
timezone: America/Bel茅m # set your timezone
image: https://i1.wp.com/geanramos.com.br/img/social2.png?resize=700,394 # This image used for Open Graph more info https://picsum.photos/600/400
repo: https://www.instagram.com/geanramus # site repo [optional]
mode: light # default theme "dark" | "light"

# Profile settings
author:
  name: Gean Ramos # author name
  bio: >- # tell to the world
    O lugar onde as hist贸rias ganham vida!<br>
    Junte-se a n贸s para romances arrebatadores, reflex玫es profundas e muitos mais. 
  username: geanramos # general username
  github:  # github username
  twitter: geanramos # twitter username
  facebook: geanramoss # facebook username
  email: geanramos@hotmail.com.br # email adress
  avatar: https://github.com/geanramos.png # change with your own avatar

# URL settings
url: "https://geanramos.com.br" #
baseurl:
permalink: /:title
google_analytics: G-TZBPFV014K # leave it blank if not wish
fb_appid:

# Collection setting
collections:
  posts:
    output: true

# Markdown settings
markdown: kramdown
highlighter: rouge
kramdown:
  syntax_highlighter: rouge

# Default front matter
defaults:
  - scope:
      path: ""
    values:
      layout: post
      comments: true

# Jekyll Compose default front matter
jekyll_compose:
  post_default_front_matter:
    modified:
    tags: []
    description:
  draft_default_front_matter:
    modified:
    tags: []
    description:

# Homepage limit posts
number_of_posts: 10

# Build settings
# theme: klise
sass:
  style: compressed

include:
  - _redirects
  - .htaccess

exclude:
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - CHANGELOG.md
  - README.md
  - node_modules
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - lighthouse.png
  - klise-*.gem
  - klise.gemspec

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-postfiles
